h1 {
    font-weight: 200;
    font-size: calc(3rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));
}

h2 {
    font-weight: 200;
    font-size: calc(2.2rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));
}

p {
    font-weight: 200;
    font-size: 0.75rem;
}

#intro {
    min-height: 70vh;
    background-color: #333;
    color: #fff;
}

.desc {
    position: relative;
    bottom: 0;
    margin-top: 70px;
    margin-bottom: 20px;
}

#approccio_al_cliente {
    position: relative;
    background-color: #1F5E58;
    min-height: 80vh;
    height: auto;
    color: #fff;
}

#esperienze_professionali {
    position: relative;
    background-color: #333;
    min-height: 80vh;
    height: auto;
    color: #fff;
}


#esperienze_particolari {
    position: relative;
    background-color: #1F5E58;
    min-height: 80vh;
    height: auto;
    color: #fff;
}